body {
	padding: 1em;
}

.horse_entry_result {
	padding: 2em;
}

td.fee_cell {
	text-align: right;
}

.title {
	font-weight: bold;
	font-size: 120%;
}

.instructions {
	font-style: italic;
}

tbody {
	border: 1px solid #000000;
}

tbody.summary {
	background-color: #e2e2e2;
}

tr.summary {
	font-weight: bold;
}