<span class="title">AQHA Congress Entry Fee Estimator *</span>
<div class="input-group">
	<input id="classes" ng-model="classes" type="text" class="form-control" placeholder="Enter class numbers separated by a space" select-on-click></input>
	<a ng-click="submit()" class="input-group-addon btn btn-primary">Submit</a>
</div>
<div class="horse_entry_result" ng-if="horse_entry_result">
	<table>
		<tr>
			<th colspan="2">
				Class
			</th>
		</tr>
		<tbody ng-repeat="class in horse_entry_result.classes track by class.class_number">
			<tr class="summary">
				<td colspan="2">
					{{class.class_number}}
				</td>
			</tr>
			<tr class="summary">
				<td colspan="2">
					{{class.description}}
				</td>
			</tr>
			<tr>
				<td colspan="2">
					Class Fees
				</td>
			</tr>
			<tr ng-repeat="fee in class.fees">
				<td>
					{{fee.description}}
				</td>
				<td class="fee_cell">
					{{fee.fee | currency:"$":0}}
				</td>
			</tr>
			<tr class="summary">
				<td>
					Total Class Fee
				</td>
				<td class="fee_cell">
					{{class.class_fee | currency:"$":0}}
				</td>
			</tr>
		</tbody>
		<tbody class="summary">
			<tr class="summary">
				<td colspan="2">
					Fee Summary
				</td>
			</tr>
			<tr ng-repeat="fee in horse_entry_result.fees">
				<td>
					{{fee.description}}
				</td>
				<td class="fee_cell">
					{{fee.fee | currency:"$":0}}
				</td>
			</tr>
			<tr class="summary">
				<td>
					Grand Total
				</td>
				<td class="fee_cell">
					{{horse_entry_result.total_fee | currency:"$":0}}
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="footnote">
	<p>
		* DISCLAIMER
	</p>
	<p>
		This is for informational purposes only and is not guaranteed to be accurate.
	</p>
	<p>
		1 Box Stall Fee, Drug Test Fee and Office Fee are included in this estimate.
	</p>
	</p>
	<p>
		NSBA classes do not include Fence, Trail or Cattle fees in the estimate; it is
		assumed you entered the regular AQHA class, where the fee will be assessed.
	</p>
	<p>
		Reining and Halter classes are not included at this time.
	</p>
</div>